@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spinner__wrapper {
  position: relative;
  height: 170px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner__button {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  position: absolute;
  font-size: 1.2rem;
}

.spinner__span {
  height: 150px;
  width: 150px;
  border-style: dashed;
  border-radius: 50%;
  padding: 1rem;
  border-left-color: black;
  border-top-color: black;
  border-right-color: yellowgreen;
  border-bottom-color: yellowgreen;
  animation: spin 4s linear infinite;
}

.normal {
  animation-direction: normal;
}

.reverse {
  animation-direction: reverse;
}
